<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Parcel Description: </h1>
    <form action="/parcels" method="post">
      <label for="length">Length</label>
      <input id="length" name="length" type="number" value="1" min="1">
      <label for="width">Width</label>
      <input id="width" name="width" type="number" value="1" min="1">
      <label for="height">Height</label>
      <input id="height" name="height" type="number" value="1" min="1">
      <label for="weight">Weight</label>
      <input id="weight" name="weight" type="number" value="1" min="1">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>